{% extends 'general/index.html' %}

{% block title %}<title>Informacje o użytkowniku</title>{% endblock %}

{% block content %}
<div class="content">
    <div class="alert alert-primary" style="font-size: 20px;">
        {% if user %}
        <br>
        <p>Nazwa użytkownika: {{ user.username }}</p>
        <br>
        <hr>
        <br>
        <p>E-mail: {{ user.email }}</p>
        <br>
        <hr>
        <br>
        <p>(placeholder)</p>
        <br>
        {% endif %}
    </div>
</div>
{% endblock %}