{% extends 'general/index.html' %}

{% load static %}

{% block title %}
<title>Timer</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/timer.css' %}" charset="UTF-8">
{% endblock %}

{% block content %}
<div class="content">
    <div class="alert alert-warning">
        (placeholder)
    </div>

    <div class="container-for-timer">
        <div class="timer" id="timer" data-default-milliseconds="180000" data-current-milliseconds=""></div>

        <div class="container-for-buttons">
            <div class="buttons">
                <div class="btn btn-primary" id="start">Start</div>

                <div class="btn btn-secondary" id="pause">Pauza</div>

                <div class="btn btn-danger" id="stop">Stop</div>

                <a href="{% url 'timer_addValue' %}?time="></a>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/timer.js' %}"></script>
{% endblock %}