{% extends 'general/index.html' %}

{% block title %}<title>O nas</title>{% endblock %}

{% block content %}
<div class="content">
    <ul class="list-group" aria-label="Autorzy:">
        <li class="list-group-item -a-bit-darker">Michał Brejnak</li>

        <li class="list-group-item -a-bit-darker">Jakub Piotrowicz</li>

        <li class="list-group-item -a-bit-darker">Tymon Kozanecki</li>

        <li class="list-group-item -a-bit-darker">Michaił Legczylin</li>
    </ul>
</div>
{% endblock %}