{% extends "general/index.html" %}

{% block title %}<title>Strona główna</title>{% endblock %}

{% block content %}

    <div class="main_content">
        <div>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="alert alert-secondary">
            <p>
                <b>Cześć! </b> <span class="tag-eco-baza">Jak się masz?</span> Witaj w aplikacji internetowej, pomagającej <b>Ci</b> kontrolować jak się czujesz i prowadzić swój własny dziennik samopoczucia.
            </p>

            <p>
                <span class="tag-eco-baza">"Jak się masz?"</span> ma za zadanie pomóc <b>Ci</b> gromadzić informacje na temat <b>Twojego</b> samopoczucia, abyś mógł/mogła lepiej zrozumieć swoje zdrowie psychiczne, jak i zgromadzić informacje, które mogą się przydać psychoterapeucie lub psychiatrze.
            </p>

            <p>
                Miej na uwadze, że aplikacja jest w stanie <b class="color-red">Pre-Alpha</b>, co oznacza, że może być niestabilna lub nie wszystkie funkcjonalności mogą być dostępne.
            </p>
        </div>
    </div>
</div>
{% endblock %}