{% extends "general/index.html" %}

{% block title %}<title>Strona główna</title>{% endblock %}

{% block content %}
<div class="content">
    <div class="alert alert-info">
        {% if random_curiosity %}
        Ciekawostka №{{ random_curiosity.id }} - {{random_curiosity.text }}
        {% endif %}
    </div>

    <div class="main_content">
        <div class="alert alert-secondary">
            <p>
                <b>Użytkowniku!</b> Witaj w <span class="tag-eco-baza">Nazwa</span> - aplikacji internetowej, pomagającej <b>Ci</b> (placeholder)
            </p>

            <p>
                <span class="tag-eco-baza">Nazwa</span> (placeholder)
            </p>

            <p>
                Proszę mieć na uwadze, że aplikacja jest w stanie <b class="color-red">Pre-Alpha</b>, co oznacza, że może być niestabilna lub nie wszystkie funkcjonalności mogą być dostępne.
            </p>

            <p>
                Wiele funkcjonalności aplikacji nie zostało jeszcze wprowadzonych do użytku, choć pracujemy nad nimi i staramy się, aby jak najszybciej zostały oddane do użytku dla użytkowników.
            </p>
        </div>
    </div>
</div>
{% endblock %}