{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta-tags -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- title -->
    {% block title %}{% endblock %}

    <!-- styles -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link charset="UTF-8" href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

    <!-- icon -->
    <link href="{% static 'images/logo_icon.ico' %}" rel="icon" sizes="16x16" type="image/ico">

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src='https://use.fontawesome.com/b9bdbd120a.js'></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>
    {% if is_logged_key %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" data-help="TO_HOME_PAGE" href="{% url 'main_page' %}">
            <img src="{% static 'images/logo.png' %}" width="50">
        </a>

        <button class="btn bg-light">Nazwa</button>

        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    {% endif %}
    <!-- menu -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-mine">
        <a class="navbar-brand" data-help="TO_HOME_PAGE" href="{% url 'main_page' %}">
            <img src="{% static 'images/logo_placeholder.png' %}" width="50">
        </a>

        <button class="btn bg-light">Nazwa</button>

        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="menu-block">
                {% if is_logged_key %}
                <div class="prelog-alog">
                    <div class="cell btn btn-outline-dark">
                        <a href="{% url 'me' %}">Moje dane</a>
                    </div>
                </div>

                <div class="prelog-alog">
                    <div class="cell btn btn-outline-dark">
                        <a href="">dummy1</a>
                    </div>

                    <div class="cell btn btn-outline-dark">
                        <a href="{% url 'porady' %}">Porady</a>
                    </div>
                </div>

                <div class="prelog-alog">
                    <div class="cell btn btn-outline-dark">
                        <a href="">dummy3</a>
                    </div>

                    <div class="cell btn btn-outline-dark">
                        <a href="">dummy4</a>
                    </div>
                </div>

                <div class="prelog-alog">
                    <div class="cell btn btn-outline-dark">
                        <a href="{% url 'credits' %}">O nas</a>
                    </div>

                    <div class="cell btn btn-outline-dark">
                        <a href="{% url 'logout' %}">Wyloguj</a>
                    </div>
                </div>
                {% else %}
                <div class="prelog-alog">
                    <div class="cell btn btn-outline-dark">
                        <a href="{% url 'sign_in' %}">Zarejestruj</a>
                    </div>

                    <div class="cell btn btn-outline-dark">
                        <a href="{% url 'log_in' %}">Zaloguj</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- content presented in page -->
    {% block content %}{% endblock %}
</body>

</html>