{% extends 'general/index.html' %}

{% load static %}

{% load poll_extras %}

{% block title %}
<title>dummy4</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/environment_graph.css' %}" charset="UTF-8">
{% endblock %}

{% block content %}
<div class="content">
    <div class="alert alert-warning">
        (placeholder)
    </div>

    <form action="{% url 'water_addValue' %}" method="POST" enctype="multipa  rt/form-data">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Zdjęcie licznika</span>
            </div>

            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">

                <label class="custom-file-label" for="inputGroupFile01">Wybierz zdjęcie</label>
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Ew. wpisanie danych</span>
            </div>

            <input type="text" class="form-control" name="value" id="basic-url" aria-describedby="basic-addon3" required>

            <div class="input-group-append">
                <span class="input-group-text" id="">m<sup>3</sup></span>
            </div>
        </div>

        <div class="text-align-center">
            <div class="inline-block">
                <input type="submit" name="Create" value="Wyślij dane" class="btn btn-success">

                <button type="button" class="btn btn-danger" id="cancel">Anuluj</button>

                <a href="{% url 'main_page' %}"></a>
            </div>
        </div>
    </form>

    {% if result %}
    <div class="alert alert-info">{{ result }}</div>
    {% endif %}
</div>
{% endblock %}