{% extends 'general/index.html' %}

{% block title %}<title>Porady</title>{% endblock %}

{% block content %}
<div class="content">
    <div>
        <h1>Porady</h1>
    </div>
    <div>
        <div>
            <h1>Pomocne Infolinie</h1>
        </div>
        <div>
            [placeholder] inoformacje o infoliniach
        </div>
        <div>
            <div class="list-group">
                <a  class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Antydepresyjny Telefon Forum Przeciw Depresji </h5>
                  </div>
                  <p class="mb-1">tel. 22 594 91 00</p>
                  <small>(czynny w każdą środę – czwartek od 17.00 do 19.00)</small>
                </a>
                <a   class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Telefon zaufania dla osób dorosłych w kryzysie emocjonalnym </h5>
                  </div>
                  <p class="mb-1">tel. 116 123</p>
                  <small class="text-muted">(poniedziałek-piątek od 14:00-22:00, połączenie bezpłatne) </small>
                </a>
                <a   class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Telefon Zaufania dla Dzieci i Młodzieży </h5>
                  </div>
                  <p class="mb-1">tel. 116 111</p>
                  <small class="text-muted">(czynny 7 dni w tygodniu, 24 h na dobę</small>
                </a>
                <a   class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">ITAKA- centrum wsparcia dla osób w stanie kryzysu psychicznego </h5>
                    </div>
                    <p class="mb-1">tel. 800 70 2222</p>
                    <small class="text-muted">(czynne całodobowo)</small>
                  </a>
                  <a   class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">ITAKA – Antydepresyjny telefon zaufania </h5>
                    </div>
                    <p class="mb-1">tel. 22 484 88 01</p>
                    <small class="text-muted">(czynny w poniedziałki i czwartki od 17.00 do 20.00) </small>
                  </a>
                  <a   class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Ośrodek Interwencji Kryzysowej – pomoc psychiatryczno-pedagogiczna </h5>
                    </div>
                    <p class="mb-1">tel. 22 855 44 32 </p>
                  </a>
                  <a   class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Ośrodek Interwencji Kryzysowej </h5>
                    </div>
                    <p class="mb-1">tel. 22 837 55 59</p>
                    <small class="text-muted">(poniedziałek – piątek od 8:00 do 20:00)</small>
                  </a>
                  <a   class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Ośrodek Interwencji Kryzysowej – poradnia ds. przeciwdziałania przemocy w rodzinie</h5>
                    </div>
                    <p class="mb-1">tel. 22 845 12 12 lub 667 833 400</p>
                    <small class="text-muted">(poniedziałek – piątek od 08:00 do 20:00)</small>
                  </a>
                  <a   class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Telefon zaufania – dla osób które znalazły się w trudnej sytuacji i potrzebują natychmiastowego interwencyjnego wsparcia</h5>
                    </div>
                    <p class="mb-1">tel. (22) 621 35 37 </p>
                  </a>
                  <a   class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Telefon Interwencyjny</h5>
                    </div>
                    <p class="mb-1">tel. 600 070 71</p>
                    <small class="text-muted">Dyżury w godzinach 10:00-16:00 
                        – psychologiczny: od pon. do pt. (bez czwartków) 
                        – prawny: czwartki.</small>
                  </a>
              </div>
        </div>
    </div>
    <div>
        <div>
            <h1>Jak znaleźć lekarza?</h1>
        </div>
        <div>
            [placeholder] Informacje o kontakcie z lekarzem
        </div>
        <div class="list-group">
            <a href="https://www.znanylekarz.pl/"  class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Portal "znanylekarz.pl".</h5>
                </div>
            </a>
            <a href="https://lekarzebezkolejki.pl/ " class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Portal "lekarzebezkolejki.pl".</h5>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}