@font-face {
    font-family: "Muli";
    src: url("/static/font-families/Muli-Regular.ttf");
}

* {
    text-decoration: none;
    font-family: Muli;
}

.display-none {
    display: none;
}

body {
    height: 100vh;
    position: relative;
    font-family: Muli;
    color: #212529;
    background-color: rgb(240, 240, 240);
}

.navbar-fixed-mine {
    position: fixed;
    z-index: 4000;
    top: 0;
    left: 0;
    width: 100%;
}

.menu-block {
    display: table;
    width: 100%;
    border-spacing: 10px;
    text-align: center;
}

.prelog-alog {
    display: table-row;
}

.cell {
    display: table-cell;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
}

.content {
    padding: 10px;
}

.main_content p {
    font-variant: small-caps;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    font-family: Muli;
}

.tag-eco-baza {
    font-variant: small-caps;
    font-weight: 700;
    font-size: 23px;
    line-height: 1;
    font-family: Muli;
    color: rgb(40, 218, 40);
}

.color-red {
    color: rgb(218, 40, 40);
}

/* begginig of description of content page */

.container-for-log-in {
    position: absolute;
    top: 60%;
    left: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 10px;
}

/* end of description of content page */

.text-align-center {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.fa {
    color: #495057;
}