{% extends 'general/index.html' %}

{% load static %}

{% block title %}<title>Title</title>{% endblock %}

{% block content %}
<div class="content">
    <img src="{% static static_chart_name %}" class="mb-3" style="display: block; margin: 0 auto" width="300px">

    {% for post in posts %}
    <div class="alert alert-dark" role="alert">
        <h4 class="alert-heading">{{ post.date }}</h4>
        <p>{{ post.content }}</p>
        <hr>
        <p class="mb-0">Samopoczucie:
            {% if post.well_being == 1 %}
            <img src="{% static 'images/mood1.png' %}" width="50px">
            {% elif post.well_being == 2 %}
            <img src="{% static 'images/mood2.png' %}" width="50px">
            {% elif post.well_being == 3 %}
            <img src="{% static 'images/mood3.png' %}" width="50px">
            {% elif post.well_being == 4 %}
            <img src="{% static 'images/mood4.png' %}" width="50px">
            {% elif post.well_being == 5 %}
            <img src="{% static 'images/mood5.png' %}" width="50px">
            {% endif %}
        </p>
    </div>
    {% endfor %}
</div>
{% endblock %}